name: Update PR Title with JIRA ID

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  update-pr-title:
    runs-on: windows-latest
    steps:
      - name: Extract JIRA ID from branch
        id: extract_jira
        shell: pwsh
        run: |
          $branchName = "${{ github.head_ref }}"
          if ($branchName -match '([A-Za-z]+-[0-9]+)') {
            echo "JIRA_ID=$($Matches[1])" >> $env:GITHUB_ENV
          } else {
            echo "JIRA_ID=" >> $env:GITHUB_ENV
          }

      - name: Update PR Title
        if: env.JIRA_ID != ''
        uses: peter-evans/pull-request-title@v3
        with:
          title: "${{ env.JIRA_ID }} - ${{ github.event.pull_request.title }}"
          github_token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}