name: Update PR Title with JIRA ID

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  update-pr-title:
    runs-on: windows-latest
    steps:
      - name: Extract JIRA ID from branch
        id: extract_jira
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          if [[ "$BRANCH_NAME" =~ ([A-Za-z]+-[0-9]+) ]]; then
            echo "JIRA_ID=${BASH_REMATCH[1]}" >> $GITHUB_ENV
          else
            echo "JIRA_ID=" >> $GITHUB_ENV
          fi
      - name: Update PR Title
        if: env.JIRA_ID != ''
        uses: peter-evans/pull-request-title@v3
        with:
          title: "${{ env.JIRA_ID }} - ${{ github.event.pull_request.title }}"
          github_token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
